{% extends "core/base.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}

{% block title %}Cadastre-se{% endblock %}

<body>
  {% block content %}
  <section class="cadastro-container">
    <form action="{% url 'cadastro' %}" method="POST" class="form">
        {% csrf_token %}

      <div>
        <label>Nome</label>
        <input type="text" name="nome" placeholder="Seu nome">
      </div>

      <div>
        <label>Email</label>
        <input type="email" name="email" placeholder="Seu email">
      </div>

      {% for message in messages %}
      <p id="email-existe">{{ message }}</p>
      {% endfor %}

      <div>
        <label>Senha</label>
        <input type="password" name="senha1" placeholder="Sua senha">
      </div>

      <div>
        <label class="alinhar" >Confirme</label>
        <input type="password" name="senha2" placeholder="Confirme sua senha">
      </div>

      <button class="btn" type="submit">Enviar</button>

    </form>
  </section>
  {% endblock %}
</body>
