{% extends "core/base.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}

{% block title %}verificação{% endblock %}

{% block content %}
<section class="cadastro-container">
    <form action="{% url 'email' %}" method="POST">
        {% csrf_token %}
        <label>Informe seu email para redefinição de senha</label>
        <input type="email" name="email">
        <p class="{% if aviso == 1 %}msg-info{% endif %}">Este email não está vinculado a uma conta</p>
        <button type="submit">Enviar</button>
    </form>
</section>
{% endblock %}  