{% extends "core/base.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}
<section class="cadastro-container">
    <form action="{% url 'login' %}" method="POST" class="form">
        {% csrf_token %}

        {% with dados=request.POST %}
        <div>
            <label class="{% if vazio.email %}label-vazio{% endif %}" >Email</label>
            <input type="email" name="email" placeholder="Seu email" class="{% if vazio.email %}input-vazio{% endif %}" value="{{ dados.email }}">
        </div>

        <div class="info">
            <div>
                <label class="{% if vazio.senha %}label-vazio{% endif %}" >Senha</label>
                <input type="password" name="senha" placeholder="Sua senha" class="{% if vazio.senha %}input-vazio{% endif %}">
            </div>

            <div>
                <p class="{% if aviso == 1 %}msg-info{% endif %}">Email ou senha incorretos</p>
            </div>
        </div>
        {% endwith %}

        <button class="btn" type="submit">Enviar</button>

    </form>
</section>
{% endblock %}