.cadastro-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    position: relative;
    text-align: center;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form div {
    display: flex;
    justify-content: space-between;
}

/* Unico*/
.alinhar {
    margin-right: 10px;
}

/* Reutilizavel */
.btn {
    width: 70px;
    background-color: #cb9530;
    border-radius: 10px;
    color: #fff;
}

/* Reutilizavel */
.input-vazio {
    border: 2px solid rgba(255, 59, 59, 0.746);
    border-radius: 3px;
}

/* Reutilizavel */
.label-vazio {
    color:rgba(255, 59, 59, 0.746);
}

p {
    display: none;
}

/* Reutilizavel */
.msg-info {
    margin-bottom: 0 !important;
    display: block;
    color: red;
    font-size: 13.5px;
}

/* Reutilizavel */
.info {
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0 !important;
    list-style: none;
}

